.messages{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

}
.messages::-webkit-scrollbar{
 display:none;
}
.scrol-feed::-webkit-scrollbar{
    display: none;
}
.chats-stack{
    overflow-y: scroll ;
}
.chats-stack::-webkit-scrollbar{
    display: none;
}